.footer{
    display:none;
    position:relative;
    background-image:linear-gradient(
        135deg,
        rgb(238, 241, 224),
        rgb(231, 209, 179)
    );
    padding:1rem;
    .logo{
        width:45px; height:45px;
        h1{font-size:1.5rem;}
        margin:0 0 1rem 0;
    }
    &-content{
        position:absolute; top:50%; right:0;
        transform:translateY(-50%);
        h4{
            font-size:3.4rem;
            text-transform:uppercase;
            color:rgb(218, 190, 151);
        }
        &-icons{
            position:absolute; bottom:0; right:0;
            a{
                &:nth-child(1){color:rgb(94, 152, 190);}
                &:nth-child(2){color:rgb(125, 197, 202);}
                &:nth-child(3){color:rgb(145, 124, 124);}
            }
            i{
                font-size:1.75rem;
                padding:0 .75rem 0 0;
            }
        }
    }
    @media(min-width:630px){display:block; margin:700px 0 0 0;}
}