.header{
    background-image:linear-gradient(
        135deg,
        rgb(238, 241, 224),
        rgb(231, 209, 179),
    );
    padding:1rem;
    &-logo{
        font-size:1.5rem;
        margin:0 0 .5rem 0;
    }
    &-text{
        margin:0 0 1rem 0;
        p{
            padding:0 0 .5rem 0;
            &:last-of-type{padding:0;}
        }
    }
    &-form{
        display:flex;
        flex-direction:column;
        &-input{
            border:none;
            background:rgba(255,255,255,.8);
            font-size:1.2rem;
            padding:.25rem .5rem;
            border-bottom:2px solid rgb(211, 125, 139);
            transition:.5s;
            &:focus{
                outline:none;
                background:rgba(255,255,255,.4);
                border-bottom:2px solid rgb(92, 121, 81);
            }
        }
        button{
            text-transform:uppercase;
            background:white;
            padding:.25rem .5rem;
            border:2px solid black;
            font-size:1rem;
        }
    }
    &-btn-div{
        align-self:flex-end;
        margin:.75rem 0 0 0;
    }
}