.recipe{
    width:100%;
    padding:2rem 0;
    background-image:linear-gradient(
        135deg,
        rgb(236, 186, 171),
        rgb(184, 173, 169),
    );
    &-div{
        margin:0 1rem;
        &-title{
            font-size:1.75rem;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            margin:0 0 1rem 0;
        }
        &-figure{
            position:relative;
            height:200px;
            @media(min-width:480px){height:300px;}
            img{
                width:100%; height:100%;
                object-fit:cover; object-position:center;
            }
        }
        &-info{
            margin:1rem 0 .5rem 0;
            display:flex;
            justify-content:space-between;
            align-items:center;
            &-span{
                i{
                    font-size:1.25rem;
                }
            }
            .add-fav{
                padding:.5rem;
                background:lighten(pink,10%);
                display:inline-block;
            }
        }
        &-ingredients{
            h4{
                font-family: 'Yanone Kaffeesatz', sans-serif;
                text-transform:uppercase;
                font-size:1.5rem;
                margin:0 0 .25rem 0;
            }
            ul{
                padding:0 0 0 1.5rem;
            }
            .add-shopping{
                padding:.25rem .5rem;
                margin:.5rem 0;
                border:2px solid pink;
                background:lighten(pink,10%);
                display:inline-block;
            }
        }
        &-link{
            h4{
                font-family: 'Yanone Kaffeesatz', sans-serif;
                text-transform:uppercase;
                font-size:1.5rem;
                margin:0 0 .25rem 0;
            }
            a{
                font-weight:bold;
                font-size:1.25rem;
                color:rgb(194, 84, 34);
            }
        }
    }
    .add-fav, .add-shopping{
        cursor:pointer;
    }
    @media(min-width:630px){ width:50%; height:700px; float:left; overflow:auto;}
}